@import './vuetify/main.scss';
@import './fonts.scss';

html,
body {
  font-family: 'Fira Code';
  user-select: none;
  overflow: auto;
  background: #0f141a !important;
}

body::-webkit-scrollbar {
  display: none;
}

.v-navigation-drawer__content::-webkit-scrollbar {
  display: none;
}
