---
import type { Props } from "@astrojs/starlight/props";
import Default from '@simonhyll/starlight-enhanced/components/Sidebar.astro'
---

<Default {...Astro.props}>
</Default>

<div class="sponsor-me">
  <span>Sponsors</span>
  <span><a href="/projects#sponsor-me">Sponsor me and get your company showing here!</a></span>
</div>

<style>
.sponsor-me {
  border: 1px solid var(--sl-color-gray-4);
  border-radius: 0.5rem;
  padding: 0.5rem;
  min-height: 5cm;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sponsor-me>span:first-child {
  color: var(--sl-color-white);
  font-weight: bold;
}
.sponsor-me span {
  margin: 0 auto;
  display: block;
}
</style>
