.heading-link::after {
  content: '#';
  padding-inline-start: 0.25em;
  opacity: 0;
  transition: var(--tauri-transition-speed);
}

.heading-link:hover::after {
  color: var(--sl-color-text-accent);
  opacity: 1;
}

.heading-link {
  text-decoration: none;
  color: var(--sl-color-white) !important;
}

/* Style for the target element when linked */
:target {
  animation: highlight-fadeout 2s ease-in-out;
  border-radius: 0.5rem;
}

/* Keyframes for the fade-out effect */
@keyframes highlight-fadeout {
  0% {
    background-color: var(--sl-color-accent); /* Highlight color */
  }
  100% {
    background-color: transparent; /* End with no background */
  }
}
