a {
  text-decoration: none;
}

article.card {
  border-radius: 0.5rem;
}

aside.starlight-aside {
  border-radius: 0.5rem;
}

.site-title {
  img {
    border-radius: 0.5rem;
  }
}

.lp-card-link {
  text-decoration: none;
  color: var(--sl-color-gray-2) !important;
}
