a {
  text-decoration: none;
}

p {
  text-align: justify;
}

article.card {
  border-radius: 0.5rem;
}

aside.starlight-aside {
  border-radius: 0.5rem;
}

.site-title {
  img {
    border-radius: 0.5rem;
  }
}

.lp-card-link {
  text-decoration: none;
  color: var(--sl-color-gray-2) !important;
}

.sidebar-content {
  padding-top: 0;
}

#starlight__sidebar > div > ul {
  background: var(--sl-color-black);
  border: 1px solid var(--sl-color-gray-5);
  border-radius: 0.5rem;
  padding: 0.25rem;
}

#starlight__sidebar > div > ul > li {
  border: 1px solid var(--sl-color-black);
  border-radius: 0.5rem;
}

#starlight__sidebar > div > ul > li:has(> a.starlight-sidebar-topics-current) {
  background: var(--sl-color-gray-6);
  border: 1px solid var(--sl-color-gray-5);
  border-radius: 0.5rem;
}

#starlight__sidebar > div > ul > li:hover {
  background: var(--sl-color-gray-5);
}

#starlight__sidebar > div > ul::after {
  content: unset;
}

.hero {
  position: relative;
}
